<%= render 'news/header' %>

<%= render 'news/title', title: t('news.googleglass.title'), publish_date: Date.new(2014, 5, 12) %>


<%# ==> Body %>

<div class="container">
  <div class="row mt">
    <div id="news-body">
      <div class="col-lg-12">
        <p><%= t('news.googleglass.arentgadget') %></p>
        <p><%= t('news.googleglass.consultant.before') %> <%= link_to('Marist University', 'http://www.marist.edu') %> <%= t('news.googleglass.consultant.after') %></p>
        <p><%= t('news.googleglass.waitingended') %></p>
        <p><%= t('news.googleglass.workonsdk') %></p>
        <p><%= t('news.googleglass.experiments') %></p>
        <p><%= t('news.googleglass.applications') %></p>

        <div class="row">
          <div class="centered">
            <%= image_tag 'news/google-glass/ggimg1.jpg', class: 'img-thumbnail' %>
            <%= image_tag 'news/google-glass/ggimg2.jpg', class: 'img-thumbnail' %>
            <%= image_tag 'news/google-glass/ggimg3.jpg', class: 'img-thumbnail' %>
          </div>
        </div>

        <p><%= t('news.googleglass.prototypesdevelopment') %></p>
        <p><%= t('news.googleglass.enthusiasm') %></p>
        <p><%= t('news.googleglass.aspects.title') %></p>
        <ul>
          <li><%= t('news.googleglass.aspects.bluetoothcommunication') %></li>
          <li><%= t('news.googleglass.aspects.voicecommands') %></li>
          <li><%= t('news.googleglass.aspects.operationalflow') %></li>
        </ul>
        <p><%= t('news.googleglass.problems.autonomy') %></p>
        <p><%= t('news.googleglass.platformsintegration') %></p>
        <p><%= t('news.googleglass.github.title') %></p>
        <ul>
          <li><%= link_to(t('news.googleglass.github.bluetoothexample'), 'https://github.com/spotsoftware/google-glass-bluetooth-sample') %></li>
          <li><%= link_to(t('news.googleglass.github.voicecommandsexample'), 'https://github.com/spotsoftware/google-glass-voice-command-sample') %></li>
          <li><%= link_to(t('news.googleglass.github.slideshowexample'), 'https://github.com/spotsoftware/google-glass-slideshow-sample') %></li>
        </ul>
        <p><%= t('news.googleglass.considerations') %></p>
        <p><%= t('news.googleglass.conclusions') %></p>
        <p><%= link_to('Google Glass is Finally Here: What is Inside and What Does it Cost?', 'http://www.techinsights.com/teardown.com/google-glass') %></p>
      </div>
    </div>
  </div>
</div>


<%= render 'news/social' %>
