<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" ></script>

<a id="anchor" href="http://www.imageupload.co.uk/images/2015/02/13/pietro.jpg" data-lightbox="image-1" >#Image</a>

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div>
        <h1 class="claim"><%= t(:main_claim) %></h1>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div> <!-- #headerwrap -->

<script type="text/javascript" >

    $(document).ready(function () {
            $('#anchor').trigger('click');
    });

</script>

<div class="container">
  <div class="row mt">
    <div class="col-lg-8">
      <h2 class="main-presentation"><%= t(:main_presentation) %></h2>
    </div>
    <div class="col-lg-4">
      <p class="pull-right">
        <br>
        <%= link_to t(:main_read_everything).upcase, t(:about_us_url), class: 'btn btn-green' %>
      </p>
    </div>
  </div>
</div>

<div id="services">
  <div class="container">
    <div class="row mt">
    
      <% @services.each do |service| %>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="<%= service[:link] %>#<%= service[:name].upcase %>">
                <div class="centered">
                    <%= fa_icon service[:icon_name] %>
                </div>
                      
                <div>
                    <h3 class="centered"><%= service[:name] %></h3>
                </div>
            </a>
        </div>
      <% end %>

    </div>
  </div>
</div> <!-- #services -->

<div id="portfolio">
  <div class="container">
    <div class="row mt">
      <ul class="grid effect-2" id="grid">

        <% @portfolio_items.each do |portfolio_item| %>
          <li>
            <% if portfolio_item.has_key? :link %>
                <a href="<%= portfolio_item[:link] %>" target="<%= portfolio_item[:target] %>">
                    <%= image_tag "pages/main/portfolio-items/#{portfolio_item[:image_name]}" %>
                    <p class="fading-text"><%= portfolio_item[:title] %></p>
                </a>
            <% else %>
                <%= image_tag "pages/main/portfolio-items/#{portfolio_item[:image_name]}" %>
                <p class="fading-text"><%= portfolio_item[:title] %></p>
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div> <!-- #portfolio -->

<div id="lg">
  <h3 class="partners-title"><%= t(:main_partners_title) %></h3>
  <div class="container">
    <div class="row centered">

      <% @partners.each do |partner| %>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
          <%= image_tag "pages/main/partners/#{partner[:image_name]}", class: 'grayscale' %>
        </div>
      <% end %>

    </div>
  </div>
</div> <!-- #lg -->

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "SPOT Software srl",
  "url" : "http://www.spot.it",
  "sameAs" : [ "https://www.facebook.com/spotsoftware",
    "https://twitter.com/spot_software",
    "https://plus.google.com/+SpotIt"] 
}
</script>