<div class="keep-calm-wrapper">
  <div class="status-indicator"><%= image_tag "errors/#{icon_name}" %></div>
  <div class="keep-calm"><%= t(:errors_keep_calm).upcase %></div>
  <div class="and"><%= t(:errors_keep_calm_and).upcase %></div>
  <div class="sorry"><%= t(:errors_keep_calm_sorry).upcase %>,</div>
  <div class="sometime-we-fail"><%= message.upcase %></div>
</div>
