<div id="sf">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 dg">
<!--        <h4 class="ml">FACEBOOK</h4>-->
        <a href="https://www.facebook.com/spotsoftware" target="_blank" class="ml">
          > <%= t(:facebook_become_friend) %>
        </a>
        <p class="centered">
          <a href="https://www.facebook.com/spotsoftware" target="_blank">
            <%= fa_icon 'facebook' %><br>Facebook Page
          </a>
        </p>
      </div>

      <div class="col-lg-3 lg">
<!--        <h4 class="ml">TWITTER</h4>-->
        <a href="https://twitter.com/spot_software" target="_blank" class="ml">
          > <%= t(:twitter_follow_us) %>
        </a>
        <p class="centered">
          <a href="https://twitter.com/spot_software" target="_blank" >
            <%= fa_icon 'twitter' %><br>Twitter Account
          </a>
        </p>
      </div>

      <div class="col-lg-3 dg">
<!--        <h4 class="ml">GOOGLE +</h4>-->
        <a class="ml" target="_blank" href="https://plus.google.com/+SpotIt/" rel="publisher">
          > <%= t(:google_plus_add_to_circle) %>
        </a>
        <p class="centered">
          <a href="https://plus.google.com/+SpotIt/" target="_blank" rel="publisher">
            <%= fa_icon 'google-plus' %><br>Google Plus Page
          </a>
        </p>

      </div>
        
      <div class="col-lg-3 lg">
<!--        <h4 class="ml">GITHUB</h4>-->
        <a class="ml" target="_blank" href="https://github.com/spotsoftware">
          > <%= t(:github_channel) %>
        </a>
        <p class="centered">
          <a href="https://github.com/spotsoftware" target="_blank">
            <%= fa_icon 'github' %><br>Github Repository
          </a>
        </p>
      </div>
        
    </div>

  </div>
</div> <!-- #sf -->
