<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= @meta_description %>">
  <meta name="author" content="SPOT Software srl">
  <meta name="keywords" content="spot, spot software, software development, android development, iOS development, web development, agile development, google glass explorer, google glass development, api sdk integration, wearable devices development, sviluppo software, realizzazione applicazioni desktop, sviluppo mobile, sviluppo iOS, sviluppo Android, integrazione sistemi, realizzazione applicazioni web, realizzazione siti web">

  <title><%= @title %></title>

  <link rel="icon" href="/assets/favicon.ico" />

  <!-- Stylesheet for the application layout -->
  <%= stylesheet_link_tag 'layouts/application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Stylesheet for the specific page -->
  <%= stylesheet_for_specific_page %>

  <!-- Javascript for the application layout -->
  <%= javascript_include_tag "layouts/application", "data-turbolinks-track" => true %>
  <!-- Javascript for the specific page -->
  <%= javascript_for_specific_page %>

  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/application/navbar' if @parts.has_navbar? %>

<%= yield %>

<%= render('layouts/application/footer') if @parts.has_footer? %>

<%= render('layouts/application/social') if @parts.has_social? %>

<%= render('layouts/application/analytics') if @parts.has_analytics? %>

</body>
</html>
