<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="SPOT Software official website">
  <meta name="author" content="SPOT Software">

  <title><%= t(:title) %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield(:stylesheets) if @content_for_stylesheets %>
  <%= stylesheet_for_specific_page %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield(:javascripts) if @content_for_javascripts %>
  <%= javascript_for_specific_page %>

  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'partials/navbar' %>

<%= yield %>

<%= render 'partials/analytics' %>

<%= render 'partials/social' %>

<%= render 'partials/footer' %>

</body>
</html>
